lambdalatex-layer/lambdalatex-layer.zip
lambdalatex-layer/vendor/install-tl-unx.tar.gz
lambdalatex-layer/vendor/perl-5.30.0.tar.gz
build/main.pdf
build/test-input.zip
.serverless/
__localtest__/
output/
