# Ignore everything in this directory except for whitelisted (!) items.
*
!vendor/install-tl-unx.tar.gz
!vendor/perl-5.30.0.tar.gz
!texlive.profile
!vendor/multimarkdown6-latex-includes
!install-tlmgr-packages.sh
